<!--@subject Benvingut, {{var customer.name}}! @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/\"":"Customer Account Url",
"var customer.email":"Customer Email",
"htmlescape var=$customer.password":"Customer Password"}
@-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
        <tr>
            <td align="center" valign="top" style="padding:20px 0 20px 0">
                <!-- [ header starts here] -->
                <table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
                    <tr>
                        <td valign="top">
                            <a href="{{store url=""}}"><img src="{{var logo_url}}" alt="{{var logo_alt}}" style="margin-bottom:10px;" border="0"/></a></td>
                    </tr>
                <!-- [ middle starts here] -->
                    <tr>
                        <td valign="top">
                            <h1 style="font-size:22px; font-weight:normal; line-height:22px; margin:0 0 11px 0;"">Benvolgut {{htmlescape var=$customer.name}},</h1>
                            <p style="font-size:12px; line-height:16px; margin:0 0 16px 0;">Benvingut a {{var store.getFrontendName()}}. Per accedir al teu compte quan visitis aquest web tan sols cal que cliquis a <a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">Accedir</a> o <a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">El meu compte</a> a dalt de qualsevol pàgina, i a continuació introduexis els teus correu electrònic i contrasenya.</p>
                            <p style="border:1px solid #E0E0E0; font-size:12px; line-height:16px; margin:0; padding:13px 18px; background:#f9f9f9;">
                                Utilitza aquestes dades a l'accedir:<br/>
                                <strong>E-mail</strong>: {{var customer.email}}<br/>
                                <strong>Contrasenya</strong>: {{htmlescape var=$customer.password}}<p>
                            <p style="font-size:12px; line-height:16px; margin:0 0 8px 0;">Quan accedeixis al teu compte, podràs fer el següent:</p>
                            <ul style="font-size:12px; line-height:16px; margin:0 0 16px 0; padding:0;">
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; Passar per caixa més ràpidament en fer una compra</li>
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; Seguir l'estat de la teva comanda</li>
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; Veure comandes anteriors</li>
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; Modificar les dades del teu compte</li>
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; Modificar la contrasenya</li>
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; Emmagatzemar diferents adreces (per a diferents amics o membres de la teva família!)</li>
                            </ul>
                            <p style="font-size:12px; line-height:16px; margin:0;">Si tens qualsevol dubte sobre el teu compte o qualsevol altra qüestió, no dubtis a esciure'ns a <a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#1E7EC8;">{{config path='trans_email/ident_support/email'}}</a> o truca'ns al {{config path='general/store_information/phone'}}.</p>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#EAEAEA" align="center" style="background:#EAEAEA; text-align:center;"><center><p style="font-size:12px; margin:0;">Gràcies, <strong>{{var store.getFrontendName()}}</strong></p></center></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
</body>