<!--@subject Recordatori d'error al pagament @-->
<!--@vars
{"var reason":"Transaction Failed Reason",
"var checkoutType":"Checkout Type",
"var customerEmail":"Customer Email",
"var customer":"Customer Name",
"var items":"Shopping Cart Items",
"var total":"Total",
"var billingAddress.format('html')":"Billing Address",
"var shippingAddress.format('html')":"Shipping Address",
"var shippingMethod":"Shipping Method",
"var paymentMethod":"Payment Method",
"var dateAndTime":"Date and Time of Transaction"}
@-->

<table>
    <thead>
        <tr>
            <th>La transacció de pagament ha fallat.</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <p>
                    <b>Raó</b><br />
                    {{var reason}}
                </p>
                <p>
                    <b>Tipus de pagament</b><br />
                    {{var checkoutType}}
                </p>
                <p>
                    <b>Client:</b><br />
                    <a href="mailto:{{var customerEmail}}">{{var customer}}</a> &lt;{{var customerEmail}}&gt;
                </p>
                <p>
                    <b>Productes</b><br />
                    {{var items}}
                </p>
                <p>
                    <b>Total:</b><br />
                    {{var total}}
                </p>
                <p>
                    <b>Adreça de facturació:</b><br />
                    {{var billingAddress.format('html')}}
                </p>
                <p>
                    <b>Adreça d'enviament:</b><br />
                    {{var shippingAddress.format('html')}}
                </p>
                <p>
                    <b>Mètode d'enviament:</b><br />
                    {{var shippingMethod}}
                </p>
                <p>
                    <b>Mètode de pagament:</b><br />
                    {{var paymentMethod}}
                </p>
                <p>
                    <b>Data i hora:</b><br />
                    {{var dateAndTime}}
                </p>
            </td>
        </tr>
    </tbody>
</table>