<!--@subject Benvingut, {{var name}} @-->
<!--@vars
{"htmlescape var=$userName":"User name",
"var $applicationName":"Application name",
"var $status":"Token new status"}
@-->

Hola, {{htmlescape var=$userName}}<br /><br />
La teva autorització per a <b>{{htmlescape var=$applicationName}}</b> ha estat canviada a <b>{{htmlescape var=$status}}</b> per l'equip administrador.<br /><br />
