<!--@subject Bienvenido, {{var customer.name}}! @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/\"":"Customer Account Url"}
@-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
        <tr>
            <td align="center" valign="top" style="padding:20px 0 20px 0">
                <!-- [ header starts here] -->
                <table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
                    <tr>
                        <td valign="top">
                            <a href="{{store url=""}}"><img src="{{var logo_url}}" alt="{{var logo_alt}}" style="margin-bottom:10px;" border="0"/></a>
                        </td>
                    </tr>
                    <!-- [ middle starts here] -->
                    <tr>
                        <td valign="top">
                            <h1 style="font-size:22px; font-weight:normal; line-height:22px; margin:0 0 11px 0;">Hola {{htmlescape var=$customer.name}},</h1>
                            <p style="font-size:12px; line-height:16px; margin:0 0 16px 0;">Bienvenido a {{var store.getFrontendName()}}. Para acceder cuando nos visites sólo tienes que clicar en <a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">Login</a> o <a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">Mi cuenta</a> en la parte superior de cualquier página, y poner tu correo electrónico y la contraseña.</p>
                            <p style="font-size:12px; line-height:16px; margin:0 0 8px 0;">Cuando te registres en tu cuenta podrás hacer todo esto:</p>
                            <ul style="font-size:12px; line-height:16px; margin:0 0 16px 0; padding:0;">
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; Acabar el proceso de compra más rápidamente cuando compres en la web.</li>
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; Consultar el estado de tus compras.</li>
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; Consultar las compras anteriores.</li>
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; Realizar cambios en tu cuenta personal.</li>
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; Cambiar tu contraseña.</li>
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; Guardar direcciones alternativas (para envíos a otros miembros de tu familia y amigos!)</li>
                            </ul>
                            <p style="font-size:12px; line-height:16px; margin:0;">Si tienes alguna pregunta acerca de tu cuenta o cualquier otro asunto, por favor ponte en contacto con nosotros en <a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#1E7EC8;">{{config path='trans_email/ident_support/email'}}</a> o por teléfono al {{config path='general/store_information/phone'}}.</p>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#EAEAEA" align="center" style="background:#EAEAEA; text-align:center;"><center><p style="font-size:12px; margin:0;">Gracias de nuevo, <strong>{{var store.getFrontendName()}}</strong></p></center></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
</body>