<!--@subject {{var subject}} @-->
{{var store.getFrontendName()}}<br>
Cuenta de correo en Moneybookers: {{var email_addr}}<br>
ID de usuario en Moneybookers: {{var customer_id}}<br>
URL: {{var url}}<br>
Idioma: {{var language}}<br>
