<!--@subject Recordatorio de pago fallido @-->
<!--@vars
{"var reason":"Transaction Failed Reason",
"var checkoutType":"Checkout Type",
"var customerEmail":"Customer Email",
"var customer":"Customer Name",
"var items":"Shopping Cart Items",
"var total":"Total",
"var billingAddress.format('html')":"Billing Address",
"var shippingAddress.format('html')":"Shipping Address",
"var shippingMethod":"Shipping Method",
"var paymentMethod":"Payment Method",
"var dateAndTime":"Date and Time of Transaction"}
@-->

<table>
    <thead>
        <tr>
            <th>Algo ha salido mal durante el pago.</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <p>
                    <b>Motivo:</b><br />
                    {{var reason}}
                </p>
                <p>
                    <b>Tipo de pedido:</b><br />
                    {{var checkoutType}}
                </p>
                <p>
                    <b>Cliente:</b><br />
                    <a href="mailto:{{var customerEmail}}">{{var customer}}</a> &lt;{{var customerEmail}}&gt;
                </p>
                <p>
                    <b>Productos</b><br />
                    {{var items}}
                </p>
                <p>
                    <b>Total:</b><br />
                    {{var total}}
                </p>
                <p>
                    <b>Dirección de facturación:</b><br />
                    {{var billingAddress.format('html')}}
                </p>
                <p>
                    <b>Dirección de envio:</b><br />
                    {{var shippingAddress.format('html')}}
                </p>
                <p>
                    <b>Sistema de envio:</b><br />
                    {{var shippingMethod}}
                </p>
                <p>
                    <b>Tipo de pago:</b><br />
                    {{var paymentMethod}}
                </p>
                <p>
                    <b>Fecha y Hora:</b><br />
                    {{var dateAndTime}}
                </p>
            </td>
        </tr>
    </tbody>
</table>