<!--@subject Bienvenido, {{var name}} @-->
<!--@vars
{"htmlescape var=$name":"Recipient Name",
"var email":"Recipient Email address",
"var product_url":"Url for Product",
"var product_name":"Product Name",
"var product_image":"Url for product small image (75 px)",
"var sender_name":"Sender name",
"var sender_email":"Sender email",
"var message":"Sender Message"}
@-->

Hola, {{htmlescape var=$name}}<br /><br />Mírate esto, <a href="{{var product_url}}">{{var product_name}}</a>, te gustará.<br /><br />Mensaje de tu amigo/a: <br />{{var message}}<br /><br />