<!--@subject Hola, {{var name}} @-->
<!--@vars
{"htmlescape var=$userName":"User name",
"var $applicationName":"Application name",
"var $status":"Token new status"}
@-->

Hola, {{htmlescape var=$userName}}<br /><br />
Tu autorización de <b>{{htmlescape var=$applicationName}}</b> ha sido cambiada a <b>{{htmlescape var=$status}}</b> por el equipo administrador.<br /><br />
